{% extends 'main/layoute.html' %}

{% block title %}

    Страница DATA

{% endblock %}

{% block content %}


        <h1>Привет! Это страница сайта DATA!</h1>
        <br>
        <br>
    <h1>Интересные факты о Django</h1>

    <h2>Факт 1: Название в честь музыканта</h2>
    <p>Django назван в честь Джанго Рейнхарда, известного джазового гитариста.</p>

    <h2>Факт 2: Разработка в газете</h2>
    <p>Django был изначально разработан в газете Lawrence Journal-World для удовлетворения потребностей новостной редакции.</p>

    <h2>Факт 3: Открытый исходный код</h2>
    <p>Django имеет открытый исходный код с июля 2005 года и поддерживается фондом Django Software Foundation.</p>

    <h2>Факт 4: Встроенные функции</h2>
    <p>Django известен как фреймворк с "встроенными батарейками", так как включает множество встроенных функций.</p>

    <h2>Факт 5: Автоматическая админка</h2>
    <p>Django предоставляет автоматически генерируемый интерфейс администрирования, упрощая управление данными.</p>

    <h2>Факт 6: Масштабируемость</h2>
    <p>Django используется крупными сайтами, такими как Instagram и Pinterest, что демонстрирует его масштабируемость.</p>

    <h2>Факт 7: Безопасность</h2>
    <p>Django включает встроенные механизмы безопасности, такие как защита от SQL-инъекций и XSS-атак.</p>

    <h2>Факт 8: Документация</h2>
    <p>Django славится своей обширной и хорошо поддерживаемой документацией.</p>

{% endblock %}


