{% extends 'main/layoute.html' %}

{% block title %}

    Главная страница

{% endblock %}

{% block content %}

<h1>{{caption}}</h1>
    <p>Django — это мощный фреймворк для веб-разработки на Python, предлагающий множество
        функций для создания динамических и интерактивных веб-приложений.
        Одним из ключевых аспектов Django являются его шаблоны, которые позволяют
        легко отделять логику приложения от его представления. {{caption}}
        используют язык шаблонов, который обеспечивает удобный синтаксис для
        встраивания данных в HTML.</p>
<h3> {{caption}}</h3><p> поддерживают наследование, что позволяет создавать базовые
        {{caption}} и расширять их дочерними. Это значитель
        но упрощает управление повторяющимися элементами, такими как заголовки
        и подножки страниц. Также в шаблонах можно использовать фильтры
        и теги, которые помогают форматировать данные и выполнять
        логические операции.</p>
    <h3> Благодаря механизму</h3><p> {{caption}}, разработчики могут быстро
        и эффективно создавать динамические страницы,
        не смешивая бизнес-логику с HTML-кодом.
        Это делает код более читаемым и поддерживаемым.
        Интеграция с другими компонентами Django, такими как ORM и формами,
        делает разработку приложений еще более удобной и быстрой.
        Пробуйте шаблоны Django в своих проектах и убедитесь в их мощи и гибкости!</p>

{% endblock %}
