{% load static %}
<img class="img-fluid mb-3" src="{% static 'main/img/mir.png' %}" alt="МИР">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">На Главную</a>
                    </li>
                    <li class="nav-item">
<!--                        Это переход на страницу другого приложения -->
<!--                        и имя ссылки тоже определяется в другом приложении.-->
<!--                        И использовать можно ссылки определенные -->
<!--                        в других параллельных приложениях-->
                        <a class="nav-link" href="{% url 'news_home' %}">На страницу новостей NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'data' %}">Перейти на страницу DATA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'test' %}">Перейти на страницу TEST</a>
                    </li>
                </ul>

