{% extends 'main/layoute.html' %}

{% block title %}

    Новостная страница

{% endblock %}

{% block content %}


        <h1>Привет! Это страница новостей сайта NEWS!</h1>
        <br>
        <br>

        <h3>Список новостей:</h3>
        <br> <br>
       {% for new in news %}
        <div>
            <h4>{{ new.title }}</h4>
            <h5>{{ new.short_description }}</h5>
            <p>{{ new.text }}</p>
            <p>Автор: {{ new.user_name }}</p>
            <p>Дата и время публикации: {{ new.pub_date }}</p>

         <br><hr> <br>
        </div>
        {% endfor %}

<{% endblock %}


